*{
    margin: 0;
    box-sizing: border-box;
    font-family: Heebo , "Source Sans Pro", sans-serif;
}

body {
    text-transform: none;
}

.header{
    width: 100%;
    text-align: center;
}

.menu{
    display: inline-block;
}

@media screen and (max-width: 600px) {
    .menu ul, .menu ul li {float: none;}
}

.menu ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}
  
.menu li {
    float: left;
    margin: 10px;
}

.menu li a {
    display: block;
    color: #666666;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 18px;
    line-height: 1.27em;
}

.menu li a:hover {
   color: hsl(198, 54%, 33%);
}

.dropdown-content{
    display: none;
}

.dropdown-content li a{
    font-size: 12px;
}

.dropdown:hover .dropdown-content{
    display: flex;
    flex-direction: column;
}

.paris{
    text-align:center;
    justify-content: center;
    align-items: center;
    display: flex;
}

.paris img {
    margin: 50px;
    max-width: 650px;
    max-height: 450px;
    
}

.france{
    text-align:center;
    justify-content: center;
    align-items: center;
    display: flex;
}

.france img {
    margin: 50px;
    max-width: 450px;
    max-height: 250px;
}

.france .who {
    font-family: Open Sans , 'Source Sans Pro', sans-serif;
    margin: 50px;
    text-align: left;
    font-size: 16px;
    margin-top: -5%;
}

.france .who .title{
    font-size: 30px;
}

.region ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

.region .name{
    text-align: center;
}

.city{
    text-align:center;
    justify-content: center;
    align-items: center;
    display: flex;
}

.city img {
    margin: 50px;
    max-width: 650px;
    max-height: 450px;
}

.city .description {
    flex-direction: column;
}

.cities li:nth-child(even) {
    flex-direction: row-reverse;
}
/*
.cities li:nth-child(odd) {
    background-color: green;
}
*/

.error {
    color:red;
    font-size:14px;
}